<!-- cSpell: words subreddit -->

<h1>Subreddit "{{ subredditTitle }}" Posts</h1>
<div class="subreddit-search">
    <input type="text" 
        [(ngModel)]="subreddit"
        (key.enter)='getSubreddit(subreddit)'
        placeholder="Type Subreddit Name">
    <button (click)='getSubreddit(subreddit)'> Search </button>
</div>
<p *ngIf="error" style="color: red">That subreddit does not exist</p>
<p><strong *ngIf="!data">Loading...</strong></p>
<div *ngIf='data'>
    <app-post *ngFor="let post of postData;" [post]='post.data'></app-post>
</div> 
